/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.todo_list {
  width: 600px;
  margin: auto;
}

.todo_list form.new_todo_item {
  box-sizing: border-box;
  width: 100%;
  padding: 3px 15px;
  border: solid 1px #ccc;
}

.todo_list form.new_todo_item input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.todo_list table {
  width: 100%;
  border-collapse: collapse;
}

.todo_list table td {
  padding: 3px 15px;
  border: solid 1px #ccc;
}

.todo_list table td.action {
  width: 80px;
}

.todo_list table input {
  display: block;
  width: 100%;
}
.todo_list table td.title {
  font-size: 1.5rem;
}

